@media only screen and (max-width: $tablet) {

  .navbar-burger{
    height: 95px;
    color:black;
    span{
      height: 2px;
    }
  }
    table#RegistroTablas th:nth-child(4),
    th:nth-child(5),th:nth-child(6){
      display: none;
    }
    table#RegistroTablas 
    td:nth-child(4),td:nth-child(5),td:nth-child(6){
      display: none;
    }

    table#usuariosTabla th:nth-child(4){
      display: none;
    }
    table#usuariosTabla 
    td:nth-child(4){
      display: none;
    }

    .Año{
      padding-top: 5px;;
    }
  }

  @media only screen and (min-width: $desktop) {
   
    .Año{
      padding-left: 5px;;
    }

    .navbar-item{
      font-size: 17px;
    }

   
   
    
  }



  