
.menuSide{
  margin: 0;
  padding: 0;
  width: auto;
  background-color:$light;
  position: fixed;
  height: auto;
  right: 0;
  top: 0;

    table{
         
        thead{
            
            th{
                background-color: $light;
            }
        }
        tbody{
            td{
                background-color: $light;   
                cursor: pointer;
            }
        }
        tfoot{
            th{
                background-color: $light;
            }
        }
    }
    tr:hover td {
        background-color: $grey-light;
    } 
}