table{
    &:hover{
        cursor: pointer;
    }
    font-weight: bold;
    thead{
      tr{
        th{
          font-weight: 500;
          color:$grey-light
        }
      }
    }
        
}

table#Usuarios td:nth-child(2){
    color:$success;
    font-weight: bold;
  }

  table#Usuarios td:nth-child(1){
    color:$link;
    font-weight: bold;
  }

  table#Usuarios td:nth-child(3){
    color:$grey-light;
    font-weight: bold;
  }

  table#Registros td:nth-child(1){
    color:$link;
    font-weight: bold;
  }

  table#Registros td:nth-child(5){
    
    font-weight: bold;
  }