

.my-list{
    border-bottom: 1px solid $border;
    
    margin: 10px;
    display: inline;
    a{
        color: green;   
    }
    li{
        cursor: pointer;
        list-style-position: outside;
        list-style:none;
        
        
        &::before{
           
        }
        &:hover{
            background-color: $border;
        }
    }
}

a{
    color:$info;
}



