.my-list{
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    a{
        color: green;   
    }
    li{
        &:hover{
            background-color: $border;
        }
    }
}

a{
    color:$info;
}


